
#ignore virtual environment
dairyvenv/

#ignore compiled python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore configuration-related files with sensitive data
app/config/secrets.py

# Ignore database files
*.db
